<html>
    <head>
        <title>
            GTP: GrowTopia Forum 
        </title>
        <link rel="stylesheet" type="text/css" href="/css/Intro.css">
    </head>

    <body style = "background-image: url(/images/gtbday.png);
				   background-size: cover;">
        <div class= "intro">
            <h1>
                GROWTOPIA WEB FORUM 
            </h1>
        </div>
      
        <div class = "about">
            <p class="eccg">Engage. Communicate. Connect. Grow</p>
            <p class="eccg2">Welcome to this forum that will act as your guide as you join a mighty guild and discover new recipes and grow anything!<br><br>Version 1.01</p>
        </div>
        <div>
            <form class="form" action="/login"> 
                <input type="submit" value="GROW"></input>
            </form>
        </div>
    </body>
</html>