<html>
	<head>
		<title>Main Guest Page</title>
		
		<link rel="stylesheet" style="text/css" href="/css/Main-Guest.css">

		<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap" rel="stylesheet">		

	</head>
	
	<body style="background-image: url(/images/main-guest.png);
				 background-size: cover;
				 background-attachment: fixed;
				 margin: 0px;font-family: 'Plus Jakarta Sans', sans-serif;">
		<div class="topPart">
			<a class="topNav" href="/terms">Terms and Conditions<a></a>
			<a class="topNav" href="/login">Login<a>
			<a class="topNav" href="/register">Register</a>
			<table><tr>
			<td><a href="/"><img src="/images/gtlogo2.png" class="logo"></img></a></td>
			<td><label style="font-family: 'Cormorant', serif;;font-size:50px;color:wheat;padding:10px;display:block;">GROWTOPIA FORUM</label></td>
			<td><input class="searchBar" type="text" placeholder="Search"></input></td>
			</tr></table>
		</div>
		<!--Left Part: Information Section-->
		<div class="leftPart">
			<dt><h2>Categories</h2></dt>
			<hr>
			<dt><h3 style="margin:7%">Building</h3></dt>
			<dd>
				<input type="checkbox">Blocks</input><br/>
				<input type="checkbox">Backgrounds</input><br/>
				<input type="checkbox">Doors</input><br/>
				<input type="checkbox">Signs</input><br/>
			</dd>
			<br/><hr>
			<dt><h3 style="margin:7%">Clothing</h3></dt>
			<dd>
				<input type="checkbox">Hat</input><br/>
				<input type="checkbox">Hair</input><br/>
				<input type="checkbox">Face</input><br/>
				<input type="checkbox">Shoulder</input><br/>
				<input type="checkbox">Top</input><br/>
				<input type="checkbox">Bottom</input><br/>
				<input type="checkbox">Back</input><br/>
				<input type="checkbox">Shoes</input><br/>
			</dd>
			<br/><hr>
			<dt><h3 style="margin:7%">Consumables</h3></dt>
			<dd>
				<input type="checkbox">Food</input><br/>
				<input type="checkbox">Paint</input><br/>
				<input type="checkbox">Potions</input><br/>
				<input type="checkbox">Tools</input><br/>
			</dd>
			<br/><hr>
		</div>
		
<!--Middle Part: User Posting Section-->
<div class="centerPart">
	<div class="userbox">
		<div class="header">
			<table><tr>
				<td><h1 class="userhead">Madale Mods</h1></td>

			</tr></table>
			
			<div class="bottom">
				<p class="message">
					Hunting Ghost? <br>
					Go NAGHOST!! <br>
					No gaut ✅ <br>
					No mag✅ <br>
					Free link ✅ <br>
					<br>
					Hunting Ghost? <br>
					Go EXTRAHAUNTED!! <br>
					No gaut ✅ <br>
					No mag✅ <br>
					Free link ✅ <br>
					Have Anti✅ <br>
					Also Buying ecto farm 35 each <br>
					======================= <br>
					#FREE LINK DM ME! <br>
					#NOGAUT <br>
					#NOMAG
				</p>
				<p class="timestamp">
					05/14/2022
				</p>
				<p class="comment-count">
					12 likes, 21 comments
				</p>
			</div>
		</div>
	</div>
	
	<div class="userbox">
		<div class="header">
			<table><tr>
				<td><h1 class="userhead">Marvs202</h1></td>

			</tr></table>
			
			<div class="bottom">
				<p class="message">
					Sell mix p and n in 1 world all 700/1 <br>
						World 1  <br>
						Cuttlefish 9861 <br>
						Alphashark 16758 <br>
						Elephantfish free <br>
						=26619=38wl <br>
						<br>
						World 2 <br>
						Mantaray 1400 <br>
						Maidmare 13385 <br>
						Angeldevilfish free <br>
						=27385=39wl	<br>
						<br>
						World 3 <br>
						Maidmare 10560 <br>
						Mantaray 11996 <br>
						Angeldevilfish free <br>
						=22556=32wl <br>
					Also buying Catch of the Day fishes! 
				</p>
				<p class="timestamp">
					05/14/2022
				</p>
				<p class="comment-count">
					18 likes, 20 comments
				</p>
			</div>
		</div>
	</div>
	
	<div class="userbox">
		<div class="header">
			<table><tr>
				<td><h1 class="userhead">Laermist</h1></td>

			</tr></table>
			
			<div class="bottom">
				<p class="message">
					Sell FOOD at FOODS <br>
						-Arroz <br>
						-Trawlerman <br>
						-Growlectable <br>
						-Hot chocolate <br>
						-Beer batered <br>
						-Apple strudel <br>
						-Berry Crepes <br>
						-Egg benedict <br>
						Also SELL ALL at FOODS.  
				</p>
				<p class="timestamp">
					05/14/2022
				</p>
				<p class="comment-count">
					23 likes, 19 comments
				</p>
			</div>
		</div>
	</div>
	
	<div class="userbox">
		<div class="header">
			<table><tr>
				<td><h1 class="userhead">Daboding</h1></td>

			</tr></table>
			
			<div class="bottom">
				<p class="message">
					Is the server is still down? How long do server updates usually take?
				</p>
				<p class="timestamp">
					05/14/2022
				</p>
				<p class="comment-count">
					40 likes, 56 comments
				</p>
			</div>
		</div>
	</div>
	
	<div class="userbox">
		<div class="header">
			<table><tr>
				<td><h1 class="userhead">FakeGuest</h1></td>

			</tr></table>
			
			<div class="bottom">
				<p class="message">
					What should I do with 10 DLs?
				</p>
				<p class="timestamp">
					05/14/2022
				</p>
				<p class="comment-count">
					06 likes, 09 comments
				</p>
			</div>
		</div>
	</div>
	
</div>


</body>
</html>