<!DOCTYPE html>
<html>
    <head>
        <title>
            Terms and Conditions
        </title>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Manrope&family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
        <style>
                body, html {
                    height: 100%;
                    margin: 0;
                    font-family: 'Heebo', sans-serif;
                    font-family: 'Manrope', sans-serif;
                    font-family: 'Nunito', sans-serif;
                }

                .bg {
                    /* The image used */
                    background-image: url("/images/tnc.jpg");

                    /* Full height */
                    height: 100%; 

                    /* Center and scale the image nicely */
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .container{
                    background: rgba(244, 237, 206, 0.666);
                    text-align: center;
                    text-justify: inter-word;
                    width: 900px;
                    padding: 3px;
                    border-radius: 14px;
                    
                }

                p{
                    text-align: justify;
                }

        </style>
    </head>

    <body style="margin: 10px 20%; 
                 margin-top: 20;   " class="bg">
        <div class="container">
            <h2>Generic Terms and Conditions Template</h2>
            <h4>Please read these terms and conditions carefully before using Gowtopia Forum website operated by MADALE.</h4>
            <p>
                <strong>Conditions of use</strong>
                By using this website, you certify that you have read and reviewed this Agreement and that you agree to comply with its terms. If you do not want to be bound by the terms of this Agreement, you are advised to leave the website accordingly. MADALE (Growtopia Forum) only grants use and access of this website, its products, and its services to those who have accepted its terms.<br><br>
                <strong>PrivacyPolicy</strong>
                Before you continue using our website, we advise you to read our privacy policy regarding our user data collection. It will help you better understand our practices.<br><br>
                <strong>Age Restriction</strong>
                You must be at least 18 (eighteen) years of age before you can use this website. By using this website, you warrant that you are at least 18 years of age and you may legally adhere to this Agreement. MADALE assumes no responsibility for liabilities related to age misrepresentation.<br><br>
                <strong>Intellectual Property</strong>
                You agree that all materials, products, and services provided on this website are the property of MADALE, its affiliates, directors, officers, employees, agents, suppliers, or licensors including all copyrights, trade secrets, trademarks, patents, and other intellectual property. 
                You also agree that you will not reproduce or redistribute the MADALE’s intellectual property in any way, including electronic, digital, or new trademark registrations.You grant a royalty-free and non-exclusive license to display, use, copy, transmit, and broadcast the content you upload and publish. For issues regarding intellectual property claims, you should contact the company in order to come to an agreement.<br><br>
                <strong>User Accounts</strong>
                As a user of this website, you may be asked to register with us and provide private information. You are responsible for ensuring the accuracy of this information, and you are responsible for maintaining the safety and security of your identifying information. You are also responsible for all activities that occur under your account or password.                
                <h6>We reserve all rights to terminate accounts, edit or remove content and cancel orders at our sole discretion.<h6>
            </p>
                <form class="form" action="/register"> 
                    <input type="submit" value="AGREE"></input>
                </form>
        </div>

    </body>
</html>